<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Tobacco Info
  body
    h3 Tobacco Info
    br
    form(action="/tobacco/add" method="post")

      table
        tr
          th name
          td
            input(type="text", name="name")
        tr
          th price
          td
            input(type="text", name="price")
        tr
          th country
          td
            input(type="text", name="country")
        tr
          th amount
          td
            input(type="text", name="amount")    
        tr
          th &nbsp;
          td
            input(type="submit", value="Save")       